* {
  /*правильное отображение элементов с учетом всех марджинов и падингов. в начале очистим, чтобы задать потом*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* кнопка в самый верх */
#GoTop{
background-color: black;
height: 100px;
width: 100px;
border:4px solid black;
border-radius: 10px;
position: fixed;
background: black;
right: 200px;
bottom: 100px;
}
/*@-правило font-face используют для подключения шрифтов, лежащих в папке проекта*/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Revalia";
  src: url(../fonts/Revalia-Regular.ttf) format("truetype");
}

body {
  font-family: Roboto;
  color: #000000;
}
.about-content {
  margin-top: 119px;
  margin-bottom: 100px;
}

.title-min {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}
input:focus: :placeholder{
    color: tran;
}

.about-text {
  font-size: 16px;
  text-align: center;
  color: #727272;
  margin-top: 50px;
}
.skills-promo {
  background: #34547A;
  height: 250px;
  width: 1920px;
}

.skill-promo-pic {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.img-skill {
  margin-top: 100px;
}
.container {
  width: 100%;
  /*если нет сетки, то в фигме можно посмотреть выделяя от лого до конца элемента навигационного меню*/
  margin: 0 auto;
}

.header {
  background: #EEEFF1;
  padding-top: 57px;
  height: 700px;
  padding-left: 18%;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

btn {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
  padding: 10px 0;
  display: block;
}

.nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.logo {
  font-family: Revalia;
  font-size: 48px;
  font-weight: normal;
  color: #34547A;
  margin-right: 398px;
}
/* Навиг.меню */
.menu {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.menu-item {
  margin-right: 42px;
}

.menu-item a:hover {
  color: #34547A;
}

.menu-item a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.offer {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.offer-pic {
  margin-right: 143px;
  margin-top: 161px;
}

.offer-content {
  margin-top: 135px;
}

.offer-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.offer-txt {
  width: 540px;
  font-weight: normal;
  font-size: 16px;
  color: #727272;
  margin-bottom: 85px;
  display: block;
}

.btn-offer {
  width: 255px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: #34547A;
  padding: 25px 41px 25px;
  font-weight: normal;
}

.btn-offer:hover {
  text-decoration: underline;
}
/* скиллы */
.skills {
  height: 653px;
}

.skills-all {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  justify-content: center;
}

.skills-content {
  margin-top: 204px;
  margin-right: 150px;
}

.skills-pic {
  margin-top: 120px;
}

.skills-title {
  margin-bottom: 50px;
}

.skill-name {
  font-weight: normal;
  font-size: 16px;
  color: #727272;
  margin-bottom: 19px;
}

.line-skill {
  margin-bottom: 29px;
}
.MyJob{
position: absolute;
width: 403px;
height: 30px;
margin-left: 758px;
top: 2062px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
}

.text2{
position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 2142px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
}

.video{
    position: absolute;
width: 1110px;
height: 600px;
left: 405px;
top: 2266px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(photo-1514070706115-47c142769603.jpg);
}

.button2{
position: absolute;
width: 100px;
height: 100px;
left: 910px;
top: 2516px;
}

.block4{
position: absolute;
width: 1920px;
height: 1004px;
left: 0px;
top: 1962px;
background: #EEEFF1;
}

.projects{
    
width: 1920px;
height: 960px;
left: 0px;
margin-top: 1250px;
}

.clients{
position: absolute;
width: 1110px;
height: 120px;
left: 405px;
top: 4150px;
}

.block5{
width: 1920px;
height: 762px;
left: 0px;
top: 4246px;
background: #EEEFF1;
}

.block4{
position: absolute;
width: 1920px;
height: 960px;
left: 0px;
top: 2994px;
}
.block5{
position: absolute;
width: 1920px;
height: 762px;
left: 0px;
top: 4246px;
background: #EEEFF1;
}

.making{
position: absolute;
width: 406px;
height: 30px;
left: 755px;
top: 4346px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
}

.text3{
position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 4426px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
}
/* форма */
#fbame{
position: absolute;
width: 255px;
height: 50px;
left: 690px;
top: 4558px;
background: #FFFFFF;
}

.block7{
position: absolute;
width: 255px;
height: 50px;
left: 975px;
top: 4558px;
background: #FFFFFF;
}

.block8{
position: absolute;
width: 540px;
height: 175px;
left: 690px;
top: 4628px;
background: #FFFFFF;
}

#send{
position: absolute;
width: 190px;
height: 55px;
left: 864px;
top: 4853px;
background: #34547A;
}

#fname{
  position: absolute;
  width: 540px;
  height: 175px;
  left: 690px;
  top: 4628px;
}

#lname{
  position: absolute;
  width: 255px;
  height: 50px;
  left: 975px;
  top: 4558px;
}
/* футер */
.block10{
    position: absolute;
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 5008px;
    background: #34547A;
}

.name{
position: absolute;
width: 160px;
height: 19px;
left: 406px;
top: 5058px;
font-family: Roboto;
font-style: normal;
font-weight: 550px;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.info2{
position: absolute;
width: 193px;
height: 12px;
left: 406px;
top: 5097px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: #FFFFFF;
}

.vk{
position: absolute;
width: 175px;
height: 40px;
left: 1356px;
top: 5064px;
}
/* Разные разрешения */
@media screen and (max-width: 1366px) and (min-width:768px) {
    header{
        width: 1920px;
    }
    .about-content{
        margin-left: 500px;
    }
    .skills-promo{
        width: 1920px;
    }
    .skills-content{
        margin-left: 300px;
    }
}

@media screen and (max-width:1536px) and (min-width:864px){
   header{
        width: 1920px;
    } 
    .about-content{
        margin-left: 450px;
    }
    .skills-promo{
        
    }
    .skills-content{
        margin-left: 300px;
    }
}
@media screen and (max-width:360px) and (min-width:640px){
    .MyJob{
        margin-left: 500px;
    }
}